# Studio-dev / GenVM v0.3 SDK release family (25 Sep 2026)
genlayer-py @ git+https://github.com/genlayerlabs/genlayer-py@v0.19.0-rc.2
genlayer-test @ git+https://github.com/genlayerlabs/genlayer-testing-suite@v0.30.0-rc.2
pytest>=8.3,<9
